<div class="page-header">
    <h1>
        幸福里控制台
        <small>
            <i class="icon-double-angle-right"></i>
            查看
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>

            <i class="icon-ok green"></i>

            <strong class="green">
                幸福里物业系统
                <small>(v1.0)</small>
            </strong>
            ,这里为您提供更更方便的物业管理。
        </div>
        <div class="alert alert-block alert-info">
            <strong class="green">
                日统计
            </strong>
            <p></p>
        </div>
        <div class="alert alert-block alert-danger">
            <strong class="green">
                月统计
            </strong>
        </div>
        <div class="alert alert-block alert-warning">
            <strong class="green">
                年统计
            </strong>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

</div><!-- /.row -->
