<div class="page-header">
<h1>
    幸福里控制台
    <small>
        <i class="icon-double-angle-right"></i>
        查看
    </small>
</h1>
                    </div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- page content begins -->

        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>

            <i class="icon-ok green"></i>

            欢迎使用
            <strong class="green">
                幸福里物业系统
                <small>(v1.0)</small>
            </strong>
            ,这里为您提供更更方便的物业管理。
        </div>
    </div>
</div>
