@using Webdiyer.WebControls.Mvc;
@model PagedList<H_PMS_Model.DataMoney>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataIndex</title>
</head>
<body>
    <div id="tab1">
        @Html.Partial("_chargeRecord", Model);
    </div>
</body>
</html>
