<div style="height:30px;margin-left:30px;margin-top:10px;">
    <select id="SelPlotName" style="width:150px;cursor:pointer;">
        <option value="请选择区域">请选择区域</option>
        <option value="A区">A区</option>
        <option value="B区">B区</option>
        <option value="C区">C区</option>
        <option value="D区">D区</option>
    </select>
    <select id="SelBulidName" style="width:150px;cursor:pointer;">
        <option value="请选择单元">请选择单元</option>
        <option value="1单元">1单元</option>
        <option value="2单元">2单元</option>
        <option value="3单元">3单元</option>
        <option value="4单元">4单元</option>
    </select>
    <select id="SelHouseType" style="width:150px;cursor:pointer;">
        <option value="请选择户型">请选择户型</option>
        <option value="三室两厅一厨两卫">三室两厅一厨两卫</option>
        <option value="三室两厅一厨一卫">三室两厅一厨一卫</option>
        <option value="三室一厅一厨两卫">三室一厅一厨两卫</option>
        <option value="三室一厅一厨一卫">三室一厅一厨一卫</option>
    </select>
    <select id="SelHouseState" style="width:150px;cursor:pointer;">
        <option value="请选择状态">请选择状态</option>
        <option style="background-color:#6ABD78;" value="空闲">空闲</option>
        <option style="background-color:#7bbfea;" value="入住">入住</option>
        <option style="background-color:#C7FFEC;" value="招租">招租</option>
        <option style="background-color:#C75610;" value="待修">待修</option>
    </select>
    <span style="line-height:30px;margin-left:10px;">怕甚么真理无穷，进一步有进一步的欢喜。</span>
    <input id="BtnHostShow" type="button" value="住户查询" style="width:110px;height:32px;background-color:#5bc0de;border:none;border-radius:5px;float:right;margin-right:6%;color:white;font-size:15px;" onclick="ModalHostShowDivShow('0')" />
</div>
<div id="ShowHouseDiv"></div>
<div class="ModalHostRegisterDiv" style="width:100%;height:100%;background-color:#ccc;position:fixed;left:0%;top:0%;visibility:hidden;z-index:100;opacity:0.5;cursor:pointer;" onclick="ModalHostRegisterHidden()"></div>
<div id="ModalDiv" class="ModalHostRegisterDiv" style="width:450px;height:540px;background-color:white;position:fixed;left:37%;top:20%;visibility:hidden;z-index:101;border-radius:25px;box-shadow:darkgrey 10px 10px 30px 5px;">
    <p style="margin-top:15px;"><h2 style="margin-left:132px;">----住户登记----</h2></p>
    <p style="margin-left:85px;margin-top:30px;"><label>房屋信息：</label><input id="TxtHouseInfo" type="text" style="width:200px;" readonly="readonly" value="A区 1单元 101" /></p>
    <p style="margin-left:85px;margin-top:20px;"><label>住户姓名：</label><input id="TxtHostName" type="text" style="width:200px;" /></p>
    <p style="margin-left:85px;margin-top:20px;"><label>住户电话：</label><input id="TxtHostPhone" type="text" style="width:200px;" /></p>
    <p style="margin-left:85px;margin-top:20px;"><label>身份证号：</label><input id="TxtIDCard" type="text" style="width:200px;" /></p>
    <p style="margin-left:85px;margin-top:20px;">
        <label>住户身份：</label>
        <select id="SelRole" style="width:200px;margin-left:-4px;">
            <option value="请选择住户身份">请选择住户身份</option>
            <option value="户主">户主</option>
            <option value="成员">成员</option>
            <option value="房客">房客</option>
            <option value="访客">访客</option>
        </select>
    </p>
    <p style="margin-left:85px;margin-top:20px;"><label>住户籍贯：</label><input id="TxtHostAdd" class="TxtByIdCard" type="text" style="width:200px;" readonly="readonly" value="请正确输入身份证号" /></p>
    <p style="margin-left:85px;margin-top:20px;"><label>住户生辰：</label><input id="TxtHostBir" class="TxtByIdCard" type="text" style="width:200px;" readonly="readonly" value="请正确输入身份证号" /></p>
    <p style="margin-left:85px;margin-top:20px;"><label>住户性别：</label><input id="TxtHostSex" class="TxtByIdCard" type="text" style="width:200px;" readonly="readonly" value="请正确输入身份证号" /></p>
    <p style="margin-left:154px;margin-top:-5px;height:10px;color:red;"><label id="LabCK">请填写住户信息</label></p>
    <p style="margin-left:160px;margin-top:20px;"><input id="BtnRegister" type="button" value="登记" style="width:110px;height:32px;background-color:white;border:1px solid #ccc;border-radius:5px;" onclick="RegisterHost()" /></p>
</div>
<div class="ModalHostShowDiv" style="width:100%;height:100%;background-color:#ccc;position:fixed;left:0%;top:0%;visibility:hidden;z-index:100;opacity:0.5;cursor:pointer;" onclick="ModalHostShowHidden()"></div>
<div id="ModalDiv" class="ModalHostShowDiv" style="width:1000px;height:540px;background-color:white;position:fixed;left:25%;top:20%;visibility:hidden;z-index:101;border-radius:25px;box-shadow:darkgrey 10px 10px 30px 5px;">
   
</div>
<script>
    GetHouseInfosByConditions();
    var TheHouseId = '';
    var TheHouseState = '';
    var TheIDCard = '';
    function GetHouseInfosByConditions() {
        $.ajax({
            url: "/HPMS/GetHouseInfosByConditions?PlotName=" + $("#SelPlotName").val() + "&BulidName=" + $("#SelBulidName").val() + "&HouseType=" + $("#SelHouseType").val() + "&HouseArea=" + "请选择面积" + "&HouseState=" + $("#SelHouseState").val() + "",
            success: function (data) {
                $("#ShowHouseDiv").empty();
                $(JSON.parse(data)).each(function () {
                    $("#ShowHouseDiv").append('<div style="width:200px;height:100px;background-color:' + (this.houseState == "空闲" ? "#6ABD78" : (this.houseState == "入住" ? "#7bbfea" : (this.houseState == "招租" ? "#C7FFEC" : "#C75610"))) + ';float:left;margin-left:30px;margin-top:20px;cursor:pointer;border-radius:15px;box-shadow:darkgrey 5px 5px 15px 2px;" onclick="' + ($("#WindowsCode").val() == "住户登记" ? "ModalHostRegisterDivShow(\'" + this.plotName + " " + this.bulidName + " " + this.houseNumber + "\',\'" + this.houseState + "\',\'" + this.houseId + "\')" : ($("#WindowsCode").val() == "住户查询" ? "ModalHostShowDivShow(\'" + this.houseId + "\')" :"")) + '">'
                        + '<p style="margin-left:20px;margin-top:10px;color:white;">' + this.plotName + ' ' + this.bulidName + ' ' + this.houseNumber + '</p>'
                        + '<p style="margin-left:20px;color:white;">户型：' + this.houseType + '</p>'
                        + '<p style="margin-left:20px;color:white;">面积：' + this.houseArea + '</p>'
                        + '</div>');
                })
            }
        })
    }
    function ModalHostRegisterDivShow(HouseInfo, HouseState, HouseId) {
        $("#TxtHouseInfo").val(HouseInfo);
        TheHouseId = HouseId;
        TheHouseState = HouseState;
        $(".ModalHostRegisterDiv").css("visibility", "visible");
    }
    function ModalHostShowDivShow(HouseId) {
        $(".ModalHostShowDiv").css("visibility", "visible");
    }
    $("select").change(function () { GetHouseInfosByConditions(); })
    function CKIdCardNum() {
        $(".TxtByIdCard").val('请正确输入身份证号');
        $.ajax({
            url: "/HPMS/CKIdCardNum?IdCardNum=" + $("#TxtIDCard").val(),
            dataType: "text",
            success: function (data) {
                if (data != "身份证号码不合法") {
                    var GetStr = data;
                    GetStr = GetStr.substr(GetStr.indexOf('：') + 1);
                    $("#TxtHostBir").val(GetStr.substr(0, GetStr.indexOf(';')));
                    GetStr = GetStr.substr(GetStr.indexOf('：') + 1);
                    $("#TxtHostSex").val(GetStr.substr(0, GetStr.indexOf(';')));
                    GetStr = GetStr.substr(GetStr.indexOf('：') + 1);
                    $("#TxtHostAdd").val(GetStr.substr(0, GetStr.indexOf(';')));
                }
            }
        })
    }
    setInterval(function () {
        $("#LabCK").text("");
        if ($("#TxtIDCard").val().length == 18) {
            if ($("#TxtIDCard").val() != TheIDCard) {
                TheIDCard = $("#TxtIDCard").val();
                CKIdCardNum();
            }
        }
        if ($("#SelRole").val() == "请选择住户身份") {
            $("#LabCK").text("请选择住户身份");
        }
        if ($("#SelRole").val() == "户主" && TheHouseState == "入住") {
            $("#LabCK").text("此房屋已存在户主");
        }
        if ($("#SelRole").val() != "户主" && TheHouseState == "空闲") {
            $("#LabCK").text("请为此房屋添加户主");
        }
        if ($("#TxtIDCard").val() == "") {
            $("#LabCK").text("身份证号不能为空");
            $(".TxtByIdCard").val('请正确输入身份证号');
        }
        if ($("#TxtHostBir").val() == '请正确输入身份证号' || $("#TxtIDCard").val().length != 18) {
            $("#LabCK").text("请正确输入身份证号");
            $(".TxtByIdCard").val('请正确输入身份证号');
        }
        if ($("#TxtHostPhone").val() == "") {
            $("#LabCK").text("住户电话不能为空");
        }
        if ($("#TxtHostPhone").val().length != 11) {
            $("#LabCK").text("请正确输入住户电话");
        }
        if ($("#TxtHostName").val() == "") {
            $("#LabCK").text("住户姓名不能为空");
        }
    }, 1)
    function RegisterHost() {
        if ($("#LabCK").text() == "") {
            $.ajax({
                url: "/HPMS/HostRegister?HostName=" + $("#TxtHostName").val() + "&HostPhone=" + $("#TxtHostPhone").val() + "&IDCard=" + $("#TxtIDCard").val() + "&Role=" + $("#SelRole").val() + "&HouseId=" + TheHouseId + "",
                success: function (data) {
                    if (data == '-1') {
                        $("#LabCK").text("此住户已存在");
                    } else if (data == "1") {
                        $("#TxtHostName").val("");
                        $("#TxtHostPhone").val("");
                        $("#TxtIDCard").val("");
                        $("#SelRole").val("请选择住户身份");
                        ModalHostRegisterHidden();
                        ModalHostShowDivShow();
                    }
                }
            })
        }
    }
    function ModalHostRegisterHidden() { $(".ModalHostRegisterDiv").css("visibility", "hidden"); }
    function ModalHostShowHidden() { $(".ModalHostShowDiv").css("visibility", "hidden"); }
</script>