

<div class="main-content" style="margin-left:0px;">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">安居客控制台</li>
            <li class="active">报修管理</li>
            <li class="active">提交报修</li>
        </ul><!-- .breadcrumb -->
    </div>
    <style>
        td {
            border: 1px solid #808080;
            vertical-align: middle;
            text-align: center;
            font-size:18px;
            color:#676565;
        }

        #wxtd {
            width: 100px;
        }

        #wxtd2 {
            width: 250px;
            font-size: 20px;
        }
    </style>
    <div class="page-content">
        <div class="row">
            <div id="jgRepShowAll" style="margin-top:30px;">
                <div>

                </div>
                <table style="width:80%;margin:auto;border:2px solid #808080;text-align:center;">
                    <thead>
                        <tr style="border:2px solid #808080;font-size:22px;font-weight:700;color:#854949">
                            <td>维修单据号</td>
                            <td>房主姓名</td>
                            <td>报修日期</td>
                            <td style="width:15%">维修内容</td>
                            <td>维修人员</td>
                            <td>维修日期</td>
                            <td>物料费用</td>
                            <td>服务费用</td>
                            <td>完成情况</td>
                        </tr>
                    </thead>
                    <tbody id="getOKRep">

                    </tbody>
                </table>
            </div>
        </div><!-- /row -->
    </div>
    <script>
        var indexRT;
        var grmRSTime;
        var indexMT;
        var grmMaintainTime;
        GetRepAllCNM();

        function GetRepAllCNM() {
            $.ajax({
                url: "/HPMS/GetRepByLX/?lx=2",
                success: function (data) {
                    $(JSON.parse(data)).each(function () {

                        indexRT = this.RSTime.lastIndexOf("\T");
                        grmRSTime = this.RSTime.substring(0, indexRT);
                        indexMT = this.MaintainTime.lastIndexOf("\T");
                        grmMaintainTime = this.MaintainTime.substring(0, indexMT);
                        $("#getOKRep").append("<tr><td>" + this.ReNumber + "</td><td>" + this.HostName + "</td><td>" + grmRSTime + "</td><td>" + this.ReRemark + "</td><td>" + this.MaintainName + "</td><td>" + grmMaintainTime + "</td><td>" + this.GoodsPrice + "</td><td>" + this.ServePrice + "</td><td style='font-size: 22px; font-weight: 700; color: #0ca33d'>" + this.Estimate + "</td></tr> ");


                    })
                }
            })
        }

    </script>
</div>
