
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>幸福里</title>
    <link rel="stylesheet" href="~/LoginCss/css/style.css">
</head>
<body>
    <header>
        <nav class="b_clear">
            <div class="nav_logo l_float">
                <img src="~/LoginCss/imgs/logo.svg" alt="">
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="login_body l_clear">
            <div class="login_form l_float">
                <div class="login_top">
                    <img src="~/LoginCss/imgs/logo_z.svg" alt="" class="">

                    <div class="login_tags b_clear">
                        <span class="top_tag l_float active" onClick="PwdLogin()">密码登录</span>
                        <span class="top_tag r_float" onClick="QrcodeLogin()">扫码登录</span>
                    </div>
                </div>
                <div class="login_con">
                    <form action="" method="POST">
                        <div>
                            <label for="user_name">用户名</label>
                            <input type="text" name="" id="user_name" placeholder="账号/手机号/邮箱">
                            <img src="~/LoginCss/imgs/icons/user.svg">
                            <p class="tips hidden">请检查您的账号</p>
                        </div>
                        <div>
                            <label for="user_pwd">密码</label>
                            <input type="password" name="" id="user_pwd" placeholder="请输入账户密码">
                            <img src="~/LoginCss/imgs/icons/lock.svg">
                            <p class="tips hidden">请检查您的密码</p>
                        </div>
                        <div class="b_clear submit">
                            <button type="button" style="width:150px;height:50px;background-color:blue;border-radius:10px;color:white;font-weight:bold;border:none;margin-left:30px" onclick="Login()">登&nbsp;&nbsp;录</button>
                            <p class="tips hidden">登录失败，请检查您的账户与密码</p>
                        </div>
                    </form>
                </div>
                <div class="login_con hidden">
                    <div class="qr_code">
                        <img src="~/LoginCss/imgs/qr.png" alt="">
                        <p>请使用微信扫码登录<br>仅支持已绑定微信的账户进行快速登录</p>
                    </div>

                </div>
                <div class="login_otherAccount">
                    <span>第三方登录</span>
                    <a href="http://"><img src="~/LoginCss/imgs/icons/wechat.svg" alt="微信登录"></a>
                    <a href="http://"><img src="~/LoginCss/imgs/icons/weibo.svg" alt="微博登录"></a>
                    <a href=""><img src="~/LoginCss/imgs/icons/qq.svg" alt="QQ登录"></a>
                </div>

            </div>
            <div class="login_ad l_float" id="AdImg">
            </div>
        </div>
    </div>
    <div class="boxlogin" id="boxlogin" style="width:270px;height:80px;z-index:9999;font-size:20px;font-family:微软雅黑;line-height:80px;padding-left:75px;background-color:red;float:left;margin-left:30%;color:white;display:none">登录失败，请核对账户信息！</div>
    <script src="~/LoginCss/js/login.js"></script>

</body>
</html>
<script src="~/assets/js/jquery-1.10.2.min.js"></script>
<script>
    function Login() {
        var name = $("#user_name").val();
        var pwd = $("#user_pwd").val();
        $.ajax({
            url: "/HPMS/LoginUser",
            data: { name: name, pwd: pwd },
            dataType: "json",
            async: true,
            type: "get",
            success: function (data) {
                if (data > 0) {
                    location.href = '/HPMS/Index';
                }
                else {
                    $("#boxlogin").css("display", "inline");
                    setTimeout("loginclose()", 1000);
                }
            }
        })
    }

    function loginclose() {
        $("#boxlogin").css("display", "none");
    }
</script>