
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>

    <div class="main-content" style="margin-left:0px">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">安居客控制台</li>
                <li class="active">房源管理</li>
                <li class="active">账号设置</li>
                <li class="active">添加账号</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div class="page-content">
            <div class="row">


                <div class="col-xs-12">

                    <form class="form-horizontal" role="form" style="height:500px">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 车位面积 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="车位面积" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 车位价钱 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-2" placeholder="车位价钱" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 车位位置 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-3" placeholder="车位位置" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 车位类型 </label>

                            <div class="col-sm-9">
                                <select id="TId" style="width:150px;height:30px">
                                    <option value="" selected="selected">-- 请选择车位类型 --</option>
                                    <option value="地下停车场">地下停车场</option>
                                    <option value="户外停车场">户外停车场</option>
                                </select>
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button" onclick="AddUser()">
                                    <i class="icon-ok bigger-110"></i>
                                    增加
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>

                        <div class="hr hr-24"></div>



                    </form>
                </div><!-- /span -->
            </div><!-- /row -->

        </div><!-- /.page-content -->
        <div class="box" id="box" style="width:250px;height:80px;z-index:9999;font-size:24px;font-family:微软雅黑;line-height:80px;padding-left:75px;background-color:#bcf5c2;float:left;margin-left:40%;color:#159753;display:none">添加成功！</div>
        <div class="box2" id="box2" style="width:250px;height:80px;z-index:9999;font-size:24px;font-family:微软雅黑;line-height:80px;padding-left:75px;background-color:#bcf5c2;float:left;margin-left:40%;color:#159753;display:none">未核查到该住户，请核对住户姓名！</div>
        <div class="box3" id="box3" style="width:250px;height:80px;z-index:9999;font-size:24px;font-family:微软雅黑;line-height:80px;padding-left:75px;background-color:#bcf5c2;float:left;margin-left:40%;color:#159753;display:none">该车位已存在！</div>
    </div><!-- /.main-content -->
</div>
<script>
    function AddUser() {

        var p = new Object();
        p.PBArea = $("#form-field-1").val();
        p.PBType = $("#TId").text();
        p.PBPrice = $("#form-field-2").val();
        p.PBPlace = $("#form-field-3").val();

        $.ajax({
            url: "/HPMS/PBAddIndex",
            data: { stingP: JSON.stringify(p) },
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data > 0) {
                    $("#form-field-1").val("");
                    $("#form-field-2").val("");
                    $("#form-field-3").val("");
                    $("#box").css("display", "inline");
                    setTimeout("tishiclose()", 1000);
                }
                else if (data == -2) {
                    $("#box3").css("display", "inline");
                    setTimeout("tishiclose2()", 1000);
                }
                else if (data == -1) {
                    $("#box2").css("display", "inline");
                    setTimeout("tishiclose3()", 1000);
                }
            }
        })
    }
    function tishiclose() {
        $("#box").css("display", "none");
    }
    function tishiclose2() {
        $("#box2").css("display", "none");
    }
    function tishiclose3() {
        $("#box3").css("display", "none");
    }
</script>